body {
  background-color: #F8EFBA;
  font-family: sans-serif;
}
.ninexnine_wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  background-color: #D6A2E8;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  width: 368px;
  margin: auto;
  margin-top: 70px;
}
div.ninexnine_wrapper div {
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
}
div.ninexnine_wrapper div input {
  width: 34px;
  height: 34px;
  padding: 0;
  font-weight: 700;
  line-height: 34px;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
  text-align: center;
  border: 0;
  box-shadow: 0;
}
div.ninexnine_wrapper div:not(.default):not(.error) input {
  background-color: #f7f1e3;
}
.default, .default input {
  background-color: #d1ccc0;
}
.default input {
  color: inherit;
}
.default.error, .default.error input {
  background-color: #c72f2f;
  color: #fff;
}
.error, .error input {
  background-color: #ff5252;
  color: #fff;
}
div.ninexnine_wrapper div:not(.default):not(.error) {
  background-color: #f7f1e3;
  color: #2c2c54;
}
.row3:not(.error), .row6:not(.error) {
  box-shadow: inset 0px -2px 0px 0px #2c2c54;
}
.col3:not(.error), .col6:not(.error) {
  box-shadow: inset -2px 0px 0px 0px #2c2c54;
}
.row3.col3:not(.error), .row3.col6:not(.error), .row6.col3:not(.error), .row6.col6:not(.error) {
  box-shadow: inset -2px -2px 0px 0px #2c2c54;
}
.row3.error, .row6.error {
  box-shadow: inset 0px -2px 0px 0px #b33939;
}
.col3.error, .col6.error {
  box-shadow: inset -2px 0px 0px 0px #b33939;
}
.row3.col3.error, .row3.col6.error, .row6.col3.error, .row6.col6.error {
  box-shadow: inset -2px -2px 0px 0px #b33939;
}
.button_grp {
  display: grid;
  grid-template-columns: [col] auto [col] auto;
  grid-template-rows: [row] auto;
  grid-gap: 5px;
  margin: auto;
  width: 368px;
  background-color: #D6A2E8;
  padding: 0 10px 10px;
  border-radius: 0 0 4px 4px;
}
.btn-new, .btn-solve {
  display: block;
  margin: 0px 0;
  padding: 10px;
  width: 100%;
  font-weight: 700;
  font-size: 1.1em;
  color: #D6A2E8;
  background-color: #82589F;
  box-shadow: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.btn-new:hover, .btn-solve:hover {
  background-color: #2C3A47;
}
.item {
  grid-row: row;
  text-align: center;
}
.item-a {
  grid-column: col / span 1;
}
.item-b {
  grid-column: col 2 / span 1;
}
